.pre-sub-container {
    padding: 4.2 10rem;
    display: flex;
}

.text-container {
    width: 45%;
    padding: 5rem 0;    
}

.sub--container {
    /* width: 95%; */
}

.hl__t {
    font-weight: 900;    
}

.t__1 {
    font-size: 2.4rem;
    font-family: "Nunito";
    font-weight: 600;
}

.st__1 {
    font-size: 3rem;
    font-weight: 800;
}

.bg--container {
    margin-top: 5rem;
    /* height: 40%; */
    color: #ffffff;
    background-image:linear-gradient(to right bottom,rgba(46, 38, 51, 0.8), rgba(46, 38, 51, 0.8)), url('../../assets//assign-copy-p1-004.png');
    background-size: cover;
    background-position: top;
    text-align: center;
    padding: 9.5rem 3.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}