<section class="pre-sub-container" >
    <div class="text-container">
        <div class="sub--container" >
            <h2 class="t__1" > <span class="hl__t" >UPSC</span> PATHSHALA</h2>
            <h2 class="st__1" >Best Online Coaching for UPSC Preparation</h2>
        </div>
        <div>
            <div class="bg--container" >
                <p class="bg--text" >Thousands of students from all over India trust UPSC Pathshala for IAS preparation.</p>
                <p class="bg--text" >Now, its  <span>your</span> chance to clear UPSC!</p>
            </div>
        </div>
        
        
    </div>
    <div class="form-container">

    </div>
</section>
